<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-UpdateBlogs</title>
</head>

<body>
    <%- include("nav") %>
        <section class="bform">
            <form action="/blog/updateblog/:id" method="post" id="blogForm">
                <label for="title">Title : </label>
                <input type="text" name="title" id="title" value="<%= udata.title %>"><br><br>
                <label for="content">Content : </label>
                <input type="text" name="content" id="content" value="<%= udata.content %>"><br><br>
                <label for="category">Category : </label>
                <input type="text" name="category" id="category" value="<%= udata.category %>"><br><br>
                <label for="image">Image : </label>
                <input type="url" name="image" id="image" value="<%= udata.image %>"><br><br>
                <input type="submit" value="Update" class="blogsub" id="add">
            </form>
        </section>
</body>
<script>
    let url = window.location.href.split("/");
    console.log(url)
    let id = url[url.length - 1]
    console.log(id)

    document.getElementById("blogForm").addEventListener("submit", (e) => {
        e.preventDefault();
        const udata = {
            title: document.getElementById("title").value,
            content: document.getElementById("content").value,
            category: document.getElementById("category").value,
            image: document.getElementById("image").value,
        }
        console.log(udata)
        fetch(`/blog/edit/${id}`, {
            method: "PATCH",
            headers: { "Content-type": "application/json" },
            body: JSON.stringify(udata,
            alert('Update successfully'),
            title.value="",
            content.value="",
            category.value="",
            image.value="",
            window.location.href = "/blog/",
            )
        });
    })
</script>

</html>